body {
    background-image: url("/img/LightGreyBackground.jpg");
}

.form-inline {
    padding-top: 10px;
    padding-bottom: 10px;
}

a {
    padding-left: 10px;
}

.table {
    background-color: white;
}

.btn {
    border: none;
}
